.why-choose {
    padding: 4rem 2rem;
    max-width: var(--container-max-width);
    margin: 0 auto;

}

.why-choose h2 {
    color: var(--color-primary);
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2.5rem;
}

.why-choose-content {
    display: flex;
    gap: 4rem;
    position: relative;
    padding: 2rem;
}

.side-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (max-width: 1024px) {
    .why-choose-content {
        flex-direction: column;
    }
}